.body{
    background-color: #4285f4,
}

.logo{
    display: block;
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.formulario{
    margin-top: 25px;
}

.footer {
    position: fixed;
    bottom:0;

}


/*** #4285f4 